# .terraform directories (Plugins & Modules)
**/.terraform/

# State files (CRITICAL: Never commit these!)
*.tfstate
*.tfstate.*

# Variables files (Secrets live here)
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

# CLI configuration files
.terraformrc
terraform.rc

# Ignore override files (used for local debugging)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Editor & OS junk
.DS_Store
.vscode/
.idea/